{% extends "index.html" %}
{% block content %}
<h1>{{ category }}</h1>

<form action="/forum.py?submit_topic={{ category }}" method="post">
    <input type="text" name="title">
    <input type="submit">
</form>

<table>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
    {% for topic in topics %}
    <tr>
        <td>{{ topic[1] }}</td>
        <td><a href="/topic_{{ topic[0] }}.html">{{ topic[2] }}</a></td>
        <td>{{ topic[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
