<!DOCTYPE html>
<html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
td, th {
    padding: 0.5em 0.9em;
    border-bottom: 0.1rem solid;
    text-align: left;
}
table { width: 100%; }

body {
    width: 80%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 10vh;
}

input {
    width: 100%;
    margin: .2rem;
    padding: 5px;
}
</style>
</head><body>
<header>
    <a href="/">Go back to index</a>
</header>
{% block content %}
<ul>
    {% for category in categories %}
    <li><a href="/cat_{{ category[0] }}.html">{{ category[0] }}</a> : {{ category[1] }}</li>
    {% endfor %}
<ul>
{% endblock %}
</body>
