{% extends "index.html" %}
{% block content %}
<h1>{{ topic[2] }} ({{ topic[4] }})</h1>

<table>
    <tr>
        <th>Author</th>
        <th>Content</th>
        <th>Date</th>
    <tr>
    {% for reply in replies %}
    <tr>
        <td>{{ reply[0] }}</td>
        <td>{{ reply[1] }}</td>
        <td>{{ reply[2] }}</td>
    </tr>
    {% endfor %}
</table>

<form action="/forum.py?submit_reply={{ topic[0] }}" method="post">
    <textarea name="content"></textarea>
    <input type="submit">
</form>
{% endblock %}
